Source: hfi1-firmware-tools
Maintainer: Scibian Project <packaging@scibian.org>
Section: non-free/misc
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 10),
Vcs-Git: https://github.com/scibian/hfi1-firmware-tools.git
Vcs-Browser: https://github.com/scibian/hfi1-firmware-tools

Package: hfi1-firmware-tools
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: EPROM and TMM Firmware Tools
 Contains EPROM and TMM Firmware Tools. These tools are used to manage the
 firmware and ROM that are loaded to the hfi1 EPROM.
